<!-- Displays details of the Character -->
<div class="content" fxLayout="row" fxLayoutGap="50px grid">
  <div>
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>{{character?.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ character?.image }}" />
      <mat-card-content>
        <p><b>Gender:</b> {{character?.gender}}</p>
        <p><b>Location:</b> {{character?.location?.name}}</p>
        <p><b>Species:</b> {{character?.species}}</p>
        <p><b>Status:</b> {{character?.status}}</p>
        <p><b>Origin:</b> {{character?.origin?.name}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
